/* line 1, ../1.18/BootstrapGridProject/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif; }

/* line 3, ../1.18/BootstrapGridProject/src/sass/style.sass */
header {
  position: relative;
  height: 50px; }

/* line 6, ../1.18/BootstrapGridProject/src/sass/style.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2; }

/* line 12, ../1.18/BootstrapGridProject/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  /* line 18, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-decoration: none; }
  /* line 23, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 42px; }

/* line 26, ../1.18/BootstrapGridProject/src/sass/style.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  /* line 32, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  /* line 36, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .subheader .subheader_official {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 6px; }
  /* line 42, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-align: right; }
  /* line 48, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .subheader .subheader_phone {
    display: block;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    color: #fff;
    margin-top: 8px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 12px; }
  /* line 58, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase; }

/* line 71, ../1.18/BootstrapGridProject/src/sass/style.sass */
.promo {
  min-height: 800px;
  background: url(../img/bg/main.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  /* line 75, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .promo .promo_header {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
  /* line 83, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .promo .promo_subheader {
    margin: 0;
    margin-top: 11px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
  /* line 92, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .promo .promo_descr {
    margin-top: 23px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #fff; }
  /* line 98, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 18px;
    font-weight: 300;
    color: #fff; }

/* line 111, ../1.18/BootstrapGridProject/src/sass/style.sass */
.reasons {
  padding: 71px 0 65px 0; }
  /* line 113, ../1.18/BootstrapGridProject/src/sass/style.sass */
  .reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; }
    /* line 118, ../1.18/BootstrapGridProject/src/sass/style.sass */
    .reasons .reasons_block .reasons_round {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 26px;
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%; }
    /* line 127, ../1.18/BootstrapGridProject/src/sass/style.sass */
    .reasons .reasons_block .reasons_descr {
      width: 343px; }
      /* line 129, ../1.18/BootstrapGridProject/src/sass/style.sass */
      .reasons .reasons_block .reasons_descr .reasons_subtitle {
        line-height: 21px;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400; }
      /* line 134, ../1.18/BootstrapGridProject/src/sass/style.sass */
      .reasons .reasons_block .reasons_descr .reasons_text {
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
        text-align: justify; }

/* line 140, ../1.18/BootstrapGridProject/src/sass/style.sass */
.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
    text-transform-text-align: center; }

/* line 152, ../1.18/BootstrapGridProject/src/sass/style.sass */
.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

/* line 161, ../1.18/BootstrapGridProject/src/sass/style.sass */
.subtitle {
  margin-top: 19px;
  font-size: 17px;
  text-align: center;
  color: #222; }

/*# sourceMappingURL=style.css.map */